.parent {
    display: flex;
    
}
.left,
.right {
    padding:10px ;
}

.left img {
  width: 650px;
  border-radius: 5%;
}

.right p {
   font-size: 19px;
   font-family:sans-serif;
}


.Youtube {
    margin: 20px;
    display: flex;
    
    
}
.Youtubeleft,
.Paragraphright {
    padding:10px ;
}


.Paragraphright p {
   font-size: 20px;
   font-family:sans-serif;

}
